@model List<TPLOCAL1.Models.Opinion>

@{
    ViewData["Title"] = "Liste des Avis";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/resources/Index.css" />
</head>

<body>

    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Liste des Avis</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Form">Formulaire</a></li>
        </ul>
    </nav>

    <section>
        <table>
            <thead>
                <tr>
                    <th colspan="3">Liste</th>
                </tr>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Avis donné</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var opinion in Model)
                {
                    <tr>
                        <td>@opinion.LastName</td>
                        <td>@opinion.FirstName</td>

                        @if (opinion.OpinionGiven == "O" || opinion.OpinionGiven == "Y")
                        {
                            <td class="avis-oui">Oui</td>
                        }
                        else
                        {
                            <td class="avis-non">Non</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </section>

</body>